!!!
%html
  %head
    %link{:href => 'app.css', :type => 'text/css', :rel => 'stylesheet'}
  %body
    #message
    #content
      #r.panel
        R
      #g.panel
        G
      #b.panel
        B
      #color
        Color
    %script{:type => "text/javascript",
      :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:type => "text/javascript", :src  => "app.js"}
  
